:root {
    --gray100: rgb(223, 223, 223);
    --gray200: rgb(105, 105, 105);
    --gray300:rgb(66, 66, 66);
    --gray400:rgb(45, 45, 45);
    --gray500: rgb(242, 242, 242);

    --black100: #0a0a0a;

    --pink100: #ff00ae;
    --pink200: #f99fdc;
  }